/*******************************
 * Communs                     *
 *******************************/
body {
  background: #222222;
  color: #CFCFCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  scrollbar-arrow-color : #DF0000;
  scrollbar-base-color : #652020;
  scrollbar-darkshadow-color : #652020;
  scrollbar-face-color : #8F0000;
  scrollbar-highlight-color : #DF0000;
  scrollbar-shadow-color : #652020;
  scrollbar-track-color : #8F0000;
}
p {
  margin: 0;
  padding-top: 1em;
}
hr {
  display: none;
}
.invisible {
  display: none;
}
.center {
  text-align: center;
}
a {
  color: #CFCF00;
}
a:visited {
  color: #CFCF00;
}

div.border {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: url("../../images/jeu/wallpaper.jpg?v1.1");
  color: #DF0000;
}
div.body {
  text-align: left;
  margin-top: 0px;
  margin-left: 41px;
  margin-right: 47px;
  color: #CFCFCF;
}
div.title {
  margin: 0;
  border: none;
  background: url("../../images/jeu/ville2.jpg?v1.1");  
}
img {
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  border: none;
}
img.title {
  margin: 0;
  border: none;
}
h1.title {
  display: none;
}
div.menu {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  text-align: center;
}
input.menu {
  width: 128px;
  height: 45px;
  border: none;
  background: url("../../images/jeu/button.gif?v1.1");
  font-size: 15px;
  font-weight: bold;
  color: yellow;
  cursor: pointer;
}
input.menu_disabled {
  width: 128px;
  height: 40px;
  border: none;
  background: url("../../images/jeu/button.gif?v1.1");
  font-size: 15px;
  font-weight: normal;
  color: #CFCFCF;
}
div.main {
  margin-left: 36px;
  margin-right: 34px;
  background: #222222;
  color: #CFCFCF;
  text-align: center;
  padding-bottom: 30px;
}
div.information {
  margin-top: 20px;
  margin-bottom: 10px;
  border: #DF0000 1px solid;
  padding: 3px; 
  font-size: 12px;
  color: yellow;
  width: 600px;
  background: #652020;
}
div.error {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  padding: 0px; 
  font-size: 15px;
  color: #DF0000;
  background: #CFCF00;
  text-align: center;  
}
div.foot
{
  margin: 0;
  background: url("../../images/jeu/footer.jpg?v1.1");
  color: #FFFFFF;
  padding-top: 5px;
  border: none;
  text-align: center;
  font-size: 10px;
}
img.image {
  margin: 5px;
  padding: 0;
  float: left;
  border: none;
}


img.icone {
  margin: 5px;
  padding: 0;
  float: left;
  border: none;
}

div.box {
  width:700px; 
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

div.box2 {
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
}

img.mini-photo {
  width: 92px; 
  height: 92px; 
  padding: 0;
  border: none;
}

/************************
 * Les barres d'actions *
 ************************/
div.text-box {
  background: #652020;
}

div.actions-center {
  margin-top: 1px;
  background: #652020;
  text-align: center;
}
div.actions-left {
  margin-top: 1px;
  background: #652020;
  text-align: left;
}
div.actions-right {
  margin-top: 1px;
  background: #652020;
  text-align: right;
}

div.action-box {
  background: #652020;
  height: 72px;
}

div.scenario-box {
  margin:0;
  background: #652020;
  min-height: 150px;
}

/************************
 * Les barres de titres *
 ************************/
div.titlebox {
  background: #652020 url("../../images/jeu/background-blue.gif?v1.1");
  height: 20px;
  padding-top: 4px;
  text-align: center;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 14px;
}
div.titlebox_g {
  background: #652020 url("../../images/jeu/background-blue.gif?v1.1");
  height: 20px;
  padding-top: 4px;
  text-align: left;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 14px;
}
th.titlebox {
  background: #652020 url("../../images/jeu/background-blue.gif?v1.1");
  height: 24px;
  text-align: center;
  font-size: 14px;
}
th.ongletbox {
  background: #652020 url("../../images/jeu/background-blue.gif?v1.1");
  height: 24px;
  text-align: center;
  font-size: 14px;
}

/***********************
 * Tableaux            *
 ***********************/
tr.tab {
  background: #652020;
}
td.tab {
  text-align: left;
  font-size: 12px;
}

/*******************************
 * Les elements de formulaires *
 *******************************/
input.action {
  width: 100px;
  height: 16px;
  border: none;
  background: #652020 url("../../images/jeu/button_action2.gif?v1.1");
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  cursor: pointer;
}

input.action_disabled {
  width: 100px;
  height: 16px;
  padding-top : 0;
  border: none;
  background: #652020 url("../../images/jeu/button_action2_d.gif?v1.1");
  font-size: 12px;
  color: #DF0000;
  font-weight: normal;
}

input.onglet {
  width: 150px;
  height: 24px;
  border: none;
  background: url("../../images/jeu/onglet.gif?v1.1");
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  cursor: pointer;
}

input.onglet_disabled {
  width: 150px;
  height: 24px;
  padding-top : 0;
  border: none;
  background: url("../../images/jeu/onglet.gif?v1.1");
  font-size: 12px;
  color: #FFFF00;
  font-weight: normal;
}

input.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #652020;
  border: #DF0000 1px solid;
  color: #CFCFCF;
  text-decoration: none;
}
select.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #652020;
  border: #DF0000 1px solid;
  color: #CFCFCF;
  text-decoration: none;
}
textarea.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #652020;
  border: #DF0000 1px solid;
  color: #CFCFCF;
}
tr.action_non-lu {
  color: #CFCFCF;  
  font-weight: bold;
}
tr.action_lu {
  color: #CFCFCF;  
  font-weight: normal;
}
tr.action_courant {
  color: #CFCFCF;  
  background: #652020;
  font-weight: normal;
  color: yellow;
}
tr.perso_non-lu {
  color: #00CFCF;  
  font-weight: bold;
}
tr.perso_lu {
  color: #00CFCF;  
  font-weight: normal;
}
tr.moi_lu {
  color: yellow;  
  font-weight: normal;
}
a.message {
  color: #CFCFCF;  
  text-decoration: none;
}
a.message:hover {
  color: yellow;
  text-decoration: none;
}
a.message_perso {
  color: #00CFCF;  
  text-decoration: none;
}
a.message_perso:hover {
  color: yellow;
  text-decoration: none;
}
tr.perso_courant {
  color: #00CFCF;  
  background: #652020;
  font-weight: normal;
  color: yellow;
}
div.messages-box {
  background: #652020;
  height: 150px;
  overflow: auto;
}
div.chat-box {
  background: #652020;
  height: 300px;
  overflow: auto;
}
textarea.message-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #652020;
}
span.object {
  color: white;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
span.state-good {
  color: #00FF00;
  font-size: 10px;
}
span.state-bad {
  color: #FFCC00;
  font-size: 10px;
}
span.state-deadly {
  color: #FF0000;
  font-size: 10px;
}
span.state-broken {
  color: #0F0F0F;
  font-size: 10px;
}
span.active {
  color: white;
  font-size: 10px;
}
td.level {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: red;
  font-weight: bold; 
}