/*******************************
 * Communs                     *
 *******************************/
body {
  background: #000000;
  color: #CFCFCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  scrollbar-arrow-color : #CF0000;
  scrollbar-base-color : #4F0000;
  scrollbar-darkshadow-color : #2F0000;
  scrollbar-face-color : #8F0000;
  scrollbar-highlight-color : #CF0000;
  scrollbar-shadow-color : #2F0000;
  scrollbar-track-color : #8F0000;
}
hr {
  display: none;
}
.invisible {
  display: none;
}
div.border {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  background: url("../../images/jeu/wallpaper.jpg");
  color: #CF0000;
}
div.body {
  width: 800px;
  margin: 15px;
  color: #CFCFCF;
}
div.title {
  margin: 0;
  border: none;
}
img.title {
  margin: 0;
  border: none;
}
h1.title {
  display: none;
}
div.menu {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  text-align: left;
}
input.menu {
  width: 128px;
  height: 40px;
  border: none;
  background: url("../../images/jeu/button.gif");
  font-size: 15px;
  font-weight: normal;
  color: yellow;
  cursor: pointer;
}
input.menu_disabled {
  width: 128px;
  height: 40px;
  border: none;
  background: url("../../images/jeu/button.gif");
  font-size: 15px;
  font-weight: normal;
  color: #CFCFCF;
}
div.main {
  border: #4F0000 1px solid;
  background: black;
  color: #CFCFCF;
  text-align: center;
  padding-bottom: 30px;
}
h1.title-page {
  background: url("../../images/jeu/title-page.jpg");
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold; 
  font-style: italic;
  margin: 0;
  padding: 0;
}
div.information {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 99px;
  margin-right: 99px;
  border: #00CFCF 1px solid;
  padding: 3px; 
  font-size: 12px;
  color: yellow;
  width: 600px;
  background: #4F0000;
}
div.error {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  padding: 0px; 
  font-size: 15px;
  color: #CF0000;
  width: 798px;
  background: #CFCF00;
  text-align: center;  
}
input.action {
  margin: 10px;
  width: 128px;
  height: 25px;
  border: none;
  background: url("../../images/jeu/button_action.gif");
  font-size: 15px;
  font-weight: bold;
  color: #00FFFF;
  cursor: pointer;
}
input.action_disabled {
  margin: 10px;
  width: 128px;
  height: 25px;
  border: none;
  background: url("../../images/jeu/button_action.gif");
  font-size: 15px;
  font-weight: bold;
  color: #2F2F2F;
  cursor: default;
}
input.text {
  background: #4F0000;
  border: #CF0000 1px solid;
  color: #CFCFCF;
  text-decoration: none;
}
textarea.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background: #4F0000;
  border: #00CFCF 1px solid;
  color: #00CFCF;
}
span.texte-var {
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
  margin-right : 10px;
}
td.center {
  text-align: center;
}
div.center {
  text-align: center;
}

/*******************************
 * Page Login                  *
 *******************************/
div.login {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 400px;
  border: #00CFCF 1px solid;
  padding: 20px; 
  font-size: 15px;
  color: white;
  font-style: italic;
  background: #4F0000;
  text-align: center;
}

/*******************************
 * Page CreationPJ             *
 *******************************/
div.formulaire {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: #00CFCF 1px solid;
  padding: 20px; 
  font-size: 15px;
  color: white;
  background: #4F0000;
  text-align: left;
}
div.ligne-form {
  margin-bottom: 10px;
}

/*******************************
 * Fiche Personnage            *
 *******************************/
div.identity {
  float: left;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}
div.name {
  color: yellow;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: bold; 
}
img.photo {
  margin: 5px;
  width: 128px; 
  height: 128px; 
  padding: 0;
  border: #00CFCF 2px solid;
}
img.mini-photo {
  width: 92px; 
  height: 92px; 
  padding: 0;
  border: none;
}
span.text-gray {
  color: gray;
  font-size: 15px;
  font-weight: bold; 
}
span.good {
  color: #00FF00;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
span.text-yellow {
  color: #FFFF00;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
span.text-white {
  color: #FFFFFF;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
span.bad {
  color: #FF0000;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
div.competences {
  margin-top: 30px;
  margin-bottom: 50px;
}
th.competence {
  width: 128px;
  height: 30px;
  text-align: center;
  background: url("../../images/jeu/competence.jpg") #7F0000;
  color: black;
  font-size: 15px;
  font-weight: bold; 
}
td.level {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: red;
  font-weight: bold; 
}
img.competence {
  margin: 0;
  padding: 0;
  border: none;
}
div.sante {
  margin-top: 30px;
  text-align: left;
}
span.health {
  color: gray;
  font-size: 20px;
  font-weight: bold; 
}
span.health-good {
  color: #00FF00;
  font-style: italic;
  font-size: 20px;
  font-weight: bold; 
}
span.health-bad {
  color: #FFCC00;
  font-style: italic;
  font-size: 20px;
  font-weight: bold; 
}
span.health-deadly {
  color: #00CFCF;
  font-style: italic;
  font-size: 20px;
  font-weight: bold; 
}
div.description {
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
div.text-box {
  border: #00CFCF 1px solid;
  padding: 3px; 
  font-size: 12px;
  color: #00CFCF;
  height: 150px;
  background: #4F0000;
  overflow: scroll;
}
div.inventaire {
  margin-left: 49px;
  margin-right: 49px;
  margin-bottom: 30px;
}
table.inventaire {
  background: #4F0000;
  border: #00CFCF 1px solid;
  width: 700px;
}
td.object {
  border: #00CFCF 1px solid;
  width: 150px;
  text-align: center;
  padding: 5px;
}
td.object_desc {
  border: #00CFCF 1px solid;
  width: 400px;
  padding: 5px;
  color: white;
  font-size: 15px;
  vertical-align: top;
}
td.object_action {
  border: #00CFCF 1px solid;
}
span.object {
  color: white;
  font-style: italic;
  font-size: 15px;
  font-weight: bold; 
}
span.state-good {
  color: #00FF00;
  font-size: 10px;
}
span.state-bad {
  color: #FFCC00;
  font-size: 10px;
}
span.state-deadly {
  color: #FF0000;
  font-size: 10px;
}
span.state-broken {
  color: #0F0F0F;
  font-size: 10px;
}
span.active {
  color: white;
  font-size: 10px;
}

/*******************************
 * Messages                    *
 *******************************/
div.messages {
  margin: 30px;
  margin-left: 49px;
  margin-right: 49px;
  font-size: 15px;
  color: #CFCFCF;  
}
tr.non-lu {
  font-weight: bold;
}
tr.lu {
  font-weight: normal;
}
tr.courant {
  background: #4F0000;
  font-weight: normal;
  color: yellow;
}
div.messages-box {
  background: #2F0000;
  height: 150px;
  overflow: auto;
}
a.message {
  color: #CFCFCF;  
  text-decoration: none;
}
a.message:hover {
  color: yellow;
  text-decoration: none;
}
textarea.message-content {
  background: #4F0000;
}
/*******************************
 * Page Ville                  *
 *******************************/
div.bloc-texte-noir {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 600px;
  border: none;
  padding: 20px; 
  font-size: 15px;
  color: white;
  font-style: italic;
  background: #000000;
  text-align: left;
}
img.image {
  margin: 5px;
//  width: 128px; 
//  height: 128px; 
  padding: 0;
  float: left;
  border: none;
}
img.image2 {
  margin: 5px;
//  width: 64px; 
//  height: 64px; 
  padding: 0;
  float: left;
  border: none;
}

div.action {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-height: 92px;
  width: 700px;
  border: #00CFCF 1px solid;
  padding: 10px; 
  font-size: 15px;
  color: #00CFCF;
  font-style: normal;
  background: #4F0000;
}

div.action-res {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-height: 92px;
  width: 700px;
  border: none;
  padding: 10px; 
  font-size: 15px;
  color: white;
  font-style: italic;
  background: #000000;
}

div.action-gain {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-height: 92px;
  width: 700px;
  border: none;
  padding: 10px; 
  font-size: 15px;
  color: yellow;
  font-style: normal;
  font-weight: bold;
  background: #000000;
}

/*******************************
 * Le DIV main                *
 *******************************/
div.error
{
  text-align: left;
}     
/*******************************
 * Le DIV foot                 *
 *******************************/
div.foot
{
  margin: 0;
  padding-top: 5px;
  border: none;
  text-align: center;
  font-size: 10px;
}


h1.barre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

h1.barre {
  margin : 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

div.system {
  font-family: Courrier, monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}


div {
  text-align: center;
}

th {
  background: #4F0000 url("../../images/jeu/background-blue.gif");
  height: 24px;
  text-align: center;
  font-size: 14px;
}
tr {
  background: #2F0000;
}
td {
  text-align: left;
  font-size: 12px;
}

input.action2 {
  width: 100px;
  height: 16px;
  border: none;
  background: #2F0000 url("../../images/jeu/button_action2.gif");
  font-size: 12px;
  font-weight: normal;
  color: #FF0000;
  cursor: pointer;
}

input.action2_disabled {
  width: 100px;
  height: 16px;
  padding-top : 0;
  border: none;
  background: #2F0000 url("../../images/jeu/button_action2_d.gif");
  font-size: 12px;
  color: #CF0000;
  font-weight: normal;
}

textarea.textarea2 {
  background: #2F0000;
  color: #CFCFCF;
  border: #CF0000 1px solid;
}
input.text {
  background: #2F0000;
  border: #CF0000 1px solid;
  color: #CFCFCF;
  text-decoration: none;
}

div.titlebox {
  background: #4F0000 url("../../images/jeu/background-blue.gif");
  height: 20px;
  padding-top: 4px;
  text-align: center;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 14px;
}
div.actions-center {
  margin-top: 1px;
  background: #2F0000;
  text-align: center;
}
div.actions-left {
  margin-top: 1px;
  background: #2F0000;
  text-align: left;
}
div.actions-right {
  margin-top: 1px;
  background: #2F0000;
  text-align: right;
}

div.action-box {
  background: #2F0000;
  height: 72px;
}