/*******************************
 * Les balises standards       *
 *******************************/
body
{
  background: gray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  text-decoration: none;
}    
hr
{
  display: none;
}
a
{
  color: #0000FF;
  text-decoration: underline;
}
a:hover
{
  color: #0000FF;
  text-decoration: underline;
}
/*******************************
 * Le DIV body                 *
 *******************************/
div.body
{
  margin: 0.5em;
  border: black 1px solid;
  background: #FFFFFF;
  color: black;
}
/*******************************
 * Le DIV head                 *
 *******************************/
div.head
{
  margin: 0;
  border: none;
  background: #FFFFFF;
  color: black;
}
/*******************************
 * Le DIV title                *
 *******************************/
div.title
{
  margin: 0;
  border: none;
  background: #FFFFFF;
  color: black;
}
img.title
{
  margin: 0.25em;
  border: none;
}
h1.title
{
  margin: 0.25em;
  color: #0000FF;
  font-family: Arial, Helvetica, sans-serif;
}
/*******************************
 * Le DIV navbar               *
 *******************************/
div.navbar
{
  margin: 0;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  background: #00BBFF url("bg_nav.gif");
  background-repeat: repeat-x;
  font-size: 11px;
  heigt: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
a.navbar
{
  color: white;
  text-decoration: none;
  background-color: #00BBFF;
}
a.navbar:hover
{
  color: #00BBFF;
  text-decoration: none;
  background-color: #0000FF;
}
/*******************************
 * Le DIV error                *
 *******************************/
div.error
{
  padding: 0.5em;
  color: red;
  font-family: Courrier, monospace;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}     
/*******************************
 * Le DIV leftpanel            *
 *******************************/
div.leftpanel
{
  padding: 1em;
  width: 200px;
  float: left;
}
/*******************************
 * Le DIV rightpanel           *
 *******************************/
div.rightpanel
{
  padding: 1em;
  /********* I.E. **********/
  margin-left: 210px;
  height:700px;
  /********* MOZ **********/
  // margin-left: 205px;
  // min-height:700px;
}
/*******************************
 * Le DIV module               *
 *******************************/
div.module
{
  background-color: #FFFFFF;
  border: black 1px solid;
  border-right: black 1px solid;
  padding: 0;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size:11px;
} 
h2.module
{
  color: #C0C000;
  background: #00BBFF url("bg_nav.gif");
  background-repeat: repeat-x;
  margin: 0;
  margin-bottom: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  text-align: center;
}
ul.module
{
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  list-style: square Inside; 
}
a.module
{
  color: #0000FF;
  text-decoration: none;
}
a.module:hover
{
  color: white;
  background-color: #0000FF;
  text-decoration: none;
}
img.module
{
  margin: 0.5em;
  border: none;
}
/*******************************
 * Le DIV compteur             *
 *******************************/
div.compteur
{
  text-align: center;
}
/*******************************
 * Le DIV categorie            *
 *******************************/
div.categorie
{
  background: #FFFFFF;
  text-align: justify;
  border: black 1px solid;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  padding: 0.25em;
  font-size:11px;
  /********* I.E. **********/
  height: 96px;
  /********* MOZ **********/
  // min-height: 96px;
} 
/*******************************
 * Le DIV box                  *
 *******************************/
div.box
{
  text-align: justify;
  padding: 0.25em;
  margin-bottom: 4em;
  /********* I.E. **********/
  height: 600px;
  /********* MOZ **********/
  // min-height: 600px;
}
div.box2
{
  text-align: justify;
  padding: 0.25em;
  margin: 2em;
  /********* I.E. **********/
  height: 600px;
  /********* MOZ **********/
  // min-height: 600px;
}
h2.box
{
  color: #EEEE00;
  background: #00BBFF url("bg_nav.gif");
  background-repeat: repeat-x;
  margin: 0;
  margin-bottom: 0.5em;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
}
/*******************************
 * Le DIV article              *
 *******************************/
div.article
{
  text-align: justify;
  padding: 0.25em;
  padding-top: 0;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  border: #000000 1px solid;
  font-size: 11px;
  /********* I.E. **********/
  // height: 96px;  
  /********* MOZ **********/
  min-height: 96px;
}
div.article2
{
  text-align: justify;
  padding: 0.25em;
  padding-top: 0;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: transparent;
  font-size: 11px;
}
h3.article
{
  color: #0000FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0em;  
  margin-bottom: 0.25em;
}
a.article
{
  color: #0000FF;
  text-decoration: underline;
}
a.article:hover
{
  color: #0000FF;
  text-decoration: none;
}
img.icone
{
  float: left;
  margin-right: 0.5em;
  border: none;
}
img.article
{
  margin: 0.5em;
  border: none;
}
span.bold
{
  font-weight: bold;
}
span.italic
{
  font-style: italic;
}
span.underline
{
  text-decoration: underline;
}
h4.article
{
  margin-bottom: 0;
  text-decoration: underline;
}
code.article
{
  display: block;
  margin: 1em;
  margin-left: 2em;
  background-color: silver;
}
div.center
{
  text-align: center;
}
div.left
{
  text-align: left;
}
div.right
{
  text-align: right;
}
/*******************************
 * Le DIV admin                *
 *******************************/
div.admin
{
  text-align: center;
  padding: 0.25em;
  margin: 2em;
}
table.admin
{
  color: #000000;
  margin-top: 1em;
  width: 85%;
  border: #FFFFFF 1px solid;
}
td.admin
{
  width: 25%;
}
/*******************************
 * Elements de Formulaire      *
 *******************************/
input.bouton
{
  width: 150px;
  text-align: center;
  font-weight: bold;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 11px;
} 
/*******************************
 * Aide                        *
 *******************************/
img.help
{
  margin: 0;
  padding: 0;
  border: none;
}
/*******************************
 * Le DIV foot                 *
 *******************************/
div.foot
{
  margin: 0;
  border: none;
  background: #FFFFFF;
  color: black;
  text-align: center;
  font-size: 10px;
}    
